[submodule "lib/RE-flex"]
	path = lib/RE-flex
	url = https://github.com/Genivia/RE-flex.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "lib/cpp-subprocess"]
	path = lib/cpp-subprocess
	url = https://github.com/arun11299/cpp-subprocess.git
[submodule "lib/subprocess"]
	path = lib/subprocess
	url = https://github.com/benman64/subprocess.git
